body{
	margin: 0;
	padding: 0;
	background: url(../images/fondo.jpg);
	background-size: cover;
	font-family: Arial;
}
.login-box{
	width: 495px;
	height: 467px;
	background-color: #000;
	color: #fff;
	top: 70%;
	left: 50%;
	position: absolute; 
	transform: translate(-50%, -47%);
	box-sizing: border-box;
	padding: 70px 30px;
	}
.login-box .logo{
	width: 110px;
	height: 110px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}
.login-box h1{
	margin: 0;
	padding: 12px 0px 40px 0px;
	text-align: center;
	font-size: 34px;
}
.login-box label{
	margin: 0;
	padding: 0;
	display: block;
	font-size: 20px;
}
.login-box input{
	width: 100%;
	margin-bottom: 20px;
}
.login-box input[type="text"], .login-box input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.button{
	border: none;
	outline: none;
	height: 50px;
	background-color: #fff;
	margin-top: 20px;
	font-size: 20px;
	border-radius: 20px;
}
.button:hover{
	background-color: #E1E1E1;
	color: #37289D;
	box-shadow: inset 0 0 0 3px #37289D;
}
.login-box a{
	text-decoration: none;
	font-size: 15px;
	line-height: 20px;
	color: #ccc;|
}
.login-box a:hover{
	color: #37289D;
}
.iframehead{
	width: 100%;
	height: 100%;
	border: 0;
}
.iframefoot{
	width: 100%;
	height: 186px;
	border: 0px;
	margin: 150px 0 0 -0.4%;
}
/*Responsive*/
	|
@media screen and (min-width: 599px) and (max-width: 800px){
 .login-box{
 	width: 60%;
 	height: 500px;
 	margin: 270px 0px 0px 0px;

 }
 .login-box .logo{
	width: 110px;
	height: 110px;
	margin: 5px 0px 0px 0px;
	height: 205px;
 }
 .button{
 	width: 60%;
 	height: 60px;
 }
}

@media screen and (max-width: 598px) and (min-width: 400px){
 .login-box{
 	width: 70%;
 	height: 460px;
 	margin-top: 250px;
 }
 .iframefoot{
 	margin-top: 400px;
 	height: 350px;
 }
}

@media screen and (max-width: 399px) and (min-width: 300px){
	.login-box{
 		width: 68%;
 		height: 488px;
 		margin-top: 70px;
 }
  .login-box .logo{
	width: 100px;
	height: 100px;
 }
 .login-box h1{
	font-size: 30px;
}
.login-box input[type="text"], .login-box input[type="password"]{
	font-size: 14px;
}
.iframefoot{
	margin-top: 400px;
	height: 350px;
}
}